.container {
 /* perspective: 300;*/
 /* -webkit-perspective: 300;*/
background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Circle_%28transparent%29.png/768px-Circle_%28transparent%29.png');
background-size: contain;
background-repeat: no-repeat;

}

/*#imgLogo {
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 15px;
}*/
