.container {
 /* perspective: 300;*/
 /* -webkit-perspective: 300;*/
background-image: url('http://spencermortensen.com/articles/bezier-circle/images/bezier-circle-big.jpg');
background-size: contain;
background-repeat: no-repeat;

}

.compass{
 height: auto;
 width: 35%;
}
